<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!-- <bean id='pulsar' class='com.example.playground2.model.Bike' scope='prototype' primary="true" >
   
     <property name="name" value="Pulsar"></property>
    <property name="owner" value="Sachin"></property>
    <property name="cost" value="99900"></property>
    <property name="dob" value="2019/03/20"></property>
    </bean>
    
    <bean id='bullet' class='com.example.playground2.model.Bike'>
    <constructor-arg name="name" value="Bullet"></constructor-arg>
    <constructor-arg name="owner" value="Suraj"></constructor-arg>
    <constructor-arg name="cost" value="399900"></constructor-arg>
    <constructor-arg name="dob" value="2019/12/12"></constructor-arg>
    </bean>
    
    <bean id='swift' class='com.example.playground2.model.Car'>
    <constructor-arg name="name" value="Swift"></constructor-arg>
    <constructor-arg name="owner" value="Dhanush"></constructor-arg>
    <constructor-arg name="cost" value="799900"></constructor-arg>
    <constructor-arg name="dob" value="2019/11/27"></constructor-arg>
    </bean> -->
    
    <!-- Manual Wiring <bean id='booking' class='com.example.playground2.model.Vehicle'>
    <constructor-arg name="car" ref="swift"></constructor-arg>
    <constructor-arg name="bike" ref="bullet"></constructor-arg>
    </bean> -->

	<bean id='bike' class='com.example.playground2.model.Bike' >
    <constructor-arg name="name" value="Duke"></constructor-arg>
    <constructor-arg name="owner" value="Adi"></constructor-arg>
    <constructor-arg name="cost" value="199900"></constructor-arg>
    <constructor-arg name="dob" value="2019/06/06"></constructor-arg>
    </bean>
    
    <bean id='car' class='com.example.playground2.model.Car'>
    <constructor-arg name="name" value="Audi"></constructor-arg>
    <constructor-arg name="owner" value="Nitin"></constructor-arg>
    <constructor-arg name="cost" value="9999900"></constructor-arg>
    <constructor-arg name="dob" value="2019/11/20"></constructor-arg>
    </bean>

	<bean id='booking' class='com.example.playground2.model.Vehicle'>
    <constructor-arg name="bike" ref="pulsar"></constructor-arg>
    <constructor-arg name="car" ref="swift"></constructor-arg>
    </bean>
    
    
</beans>